body {
  background-color: lightgrey;
}

.SingleShowView {
  border-radius: 10px;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  width: 40%;
  padding-right: 10px;
  cursor: pointer;
}

.ShowTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.ShowImg {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
}

.ShowInfo {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.ShowSummary {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
}

.AllShows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ShowSummary p {
  margin-top: 0px;
}

.SearchShows {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.imageShow {
  object-fit: cover;
}
